:lang(si) .theorem::before { content: 'ප්‍රමේය​යය ' counter(theorem) '. ' !important; }
:lang(si) .lemma::before { content: 'උපසාධ්‍ය​ය ' counter(theorem) '. ' !important; }
:lang(si) .proof::before { content: 'සාධන​ය ' attr(title) !important; }
:lang(si) .definition::before { content: 'නිර්වචන​ය ' counter(definition) '. ' !important; }
:lang(si) caption::before { content: 'වගු​ව ' counter(caption) '. ' !important; }
:lang(si) figcaption::before { content: 'රූපසටහන ' counter(figcaption) '. ' !important; }
